/* Speed.css */
.Main {
    border-radius: 50px;
    border: 3px solid #5D3FA9;
    background: #FFF;
    height: 300px;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px  auto; /* Adjusted margin for better positioning */
}
.x{
    margin-top: -60px;
}
  
  
  @media screen and (min-width: 600px) {
    .Main {
        height: 400px;
        width: 70%;
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 768px) {
    .Main {
        height: 500px;
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 1024px) {
    .Main {
        height: 600px;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }
}


/* SpeedButton.css */
/* CircleWithName.css */
.circle {
    padding: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    margin: auto;
    background-color: #5F3CC3; /* Move background color here */
    color: white; /* Move text color here */
    font-size: 4vw; /* Move font size here */
    width: 20vw; /* Move circle size here */
    height: 20vw;
    border: none;
  }
  
  .circle-text {
    margin: 0;
  }
  
  .new-circle {
    position: absolute;
    border-radius: 50%;
    border: 2px solid #D9D9D9;
    animation: expand 1.5s infinite;
    opacity: 0;
  }
  
  @keyframes expand {
    0% {
      width: 0;
      height: 0;
    }
    100% {
      width: 110%;
      height: 110%;
      opacity: 1;
    }
  }

  
@media screen and (max-width: 600px) {
.circle{
  width: 30vw;
  height: 30vw;
}
}

  



.anima {
  animation: blink-animation 1s infinite; /* Utilisation de l'animation nommée "blink-animation" */
}

@keyframes blink-animation {
  0% { opacity: 1; } /* Opacité à 100% au début de l'animation */
  50% { opacity: 0; } /* Opacité à 0% à mi-chemin de l'animation */
  100% { opacity: 1; } /* Opacité à 100% à la fin de l'animation */
}





























  
 
  
  